<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.bibulle.minecraftStats.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/var/log/minecraftStatsStderr.log</string>

    <key>StandardOutPath</key>
    <string>/var/log/minecraftStatsStdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/opt/minecraft-stats/</string>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/minecraft-stats/minecraftStats.initd</string>
      <string>restart</string>
    </array>


  </dict>
</plist>
