extends layout

block content
  p(id="chart")
  div(id="menubox")
  aside 
    p Passer la souris sur la date pour se déplacer en avant ou en arrière dans le temps
    p Cliquer sur les label des axes ou de la legende pour changer de données
    p Passer la souris sur une pastille pour avoir les infos
  